:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --logo-color-one: #000000;
  --logo-color-two: #ffffff;
  --logo-color-left: #2196f3;
  --hero-color: #2f303a;
  --btn-hover-color: #188ce8;
  --address-text-color: rgba(255, 255, 255, 0.6);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--main-color);
}

.header {
  color: var(--secondary-color);
}

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
}

.header-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-left);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-one);
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-two);
}

.header-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-color);
}

.header-link:hover {
  color: var(--logo-color-left);
}

.current {
  color: var(--logo-color-left);
}

.section-main {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--logo-color-two);
}

.section {
  background: var(--hero-color);
}

.section-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--logo-color-left);
  color: var(--logo-color-two);
}

.section-btn:hover {
  background-color: var(--btn-hover-color);
}

.section-two-text {
  font-weight: 700;
  list-style-type: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.section-two-text1 {
  font-weight: 400;

  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.section-about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.section-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.section-for {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color) 1;
}

.section-for-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.section-for-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.adress-text {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-text-color);
}

.portfolio-btn {
  list-style-type: none;
}

.portfolio-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-color);
}

.portfolio-about {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.portfolio-btn-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.portfolio-btn-style:hover {
  background-color: var(--logo-color-left);
  color: var(--logo-color-two);
}

.footer {
  background: var(--secondary-color);
}
